<nav>
        <div class="site-title">
            <a href="/blogs"><h1>BLOGGER</h1></a>
            <p>Alabi Abdullah Site</p>
        </div>
        <ul>
            <li><a href="/blogs">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">Create new Blog</a></li>
        </ul>
    </nav>