<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About Us</h2>
      <h4><b>NB:</b>This is just a demo site used to deepen  my learning curve in NodeJS</h4>
      <br>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure debitis
        dolores sequi voluptatum autem adipisci, nesciunt at consequatur rerum
        exercitationem corporis delectus aperiam in dicta officia commodi ipsum
        obcaecati ratione?
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos magnam
        minus voluptate alias debitis hic. Officiis veniam delectus debitis nam
        deserunt omnis ullam sequi qui dicta, doloremque consequuntur ipsum
        nostrum.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa cupiditate
        quos nostrum! Minus consequuntur autem earum eum, quae nemo pariatur
        numquam? Nesciunt perferendis iste, fugiat ea totam rerum eius! Vitae.
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo id magni
        perspiciatis? Autem explicabo impedit ullam et error eos accusamus
        expedita illo quae voluptatem qui, voluptatum rem in modi aliquid.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea dolorum enim
        natus commodi earum nisi! Magnam, nisi accusamus. Quisquam sunt repellat
        molestias, consequuntur deleniti corrupti doloribus ex dignissimos ea
        hic?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste quod
        maxime mollitia explicabo corporis, nostrum quos eos. Excepturi sit quis
        saepe non ducimus tempora illo autem, voluptas deserunt libero minima.
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil aut
        facere nam! Maxime iusto aperiam cum dolores laudantium expedita est
        placeat amet quas. Non, architecto ipsam. Similique odit atque animi?
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit nostrum
        reiciendis corporis, quis consequuntur hic? Et assumenda dolor iure
        pariatur debitis maxime veniam incidunt tempore, accusantium,
        necessitatibus eaque vero neque.
      </p>
      
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
